* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: #354f52;
}

.header {
  background-color: #2f3e46;
  color: #cad2c5;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  border-bottom: #84a98c solid 1px;
}

.header1 {
  font-size: 64px;
  font-weight: 200;
  padding: 20px;
}

.header2 {
  font-size: 32px;
  font-weight: 200;
  padding: 10px;
}

.cartao {
  background-color: #52796f;
  width: 300px;
  height: 360px;
  margin: 70px auto;
  text-align: center;
  border: #84a98c double 5px;
}

ul {
  list-style: none;
  margin-left: 0; /* Remove margin padrão */
  padding-left: 0; /* Remove padding padrão */
}

a {
  color: #cad2c5;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  display: block;
  font-weight: bold;
}

.e1 {
  margin-bottom: 30px;
  margin-top: 121.5px;
}
.e2 {
  margin-bottom: 30px;
}
.e3 {
  margin-bottom: 121.5px;
}
