* {
  box-sizing: border-box;
  margin: 0px;
}

body {
  background-color: #354f52;
}

.header {
  background-color: #2f3e46;
  color: #cad2c5;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  border-bottom: #84a98c solid 1px;
}

.header1 {
  font-size: 64px;
  font-weight: 200;
  padding: 20px;
}

.header2 {
  font-size: 32px;
  font-weight: 200;
  padding: 10px;
}
